<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Index</title>
</head>
<body style="background-attachment: fixed;
  background-size: 100% 100%; background-image: url('https://i1-vnexpress.vnecdn.net/2020/07/27/NQH06055-1595824887-9490-1595825283.jpg?w=680&h=408&q=100&dpr=1&fit=crop&s=d8zncqoExW4BD6leucLrWQ'); background-repeat: no-repeat;">
        <div class="blueText">Hello world</div>
    </h3>
    <h3>Inline List</h3>
    <table class="table table-bordered table-hover">
        <tr>
            <td>Name</td>
            <td>Email</td>
        </tr>
        <tr>
            <td>Phong</td>
            <td>Phong@gmail.com</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>